.help-menu {
	margin-top: auto;
	position: absolute;
	bottom: 0;
	left: 120px;
	width: 260px;
	color: #fff;
	background-color: #333;
	list-style-type: none;
	padding: 6px 0;
	box-shadow: 0px 4px 8px -4px black;
	z-index: 1;
}

.help-item {
	height: 36px;
	background-position: 16px 50%;
	padding-left: 16px;
	background-size: 24px;
	background-repeat: no-repeat;
	margin: 4px 0;
	cursor: default;
	display: flex;
	align-items: center;
	transition: 200ms ease;
}

.help-item:hover {
	background-color: rgba(255, 255, 255, 0.05);
}
