:root {
	--black: #000000;
	--grey: #333333;
	--lightGrey: #e5e5e5;
	--surfaceOne: #fafafa;
	--surfaceTwo: #ffffff;
	--primary: #496dc2;
}

::selection {
	background: var(--primary);
	color: #fff;
}

* {
	box-sizing: border-box;
	font-family: din-2014, sans-serif;
	font-size: 18px;
	color: inherit;
}

body {
	background-color: var(--surfaceOne);
	overflow: hidden;
	color: var(--grey);
	margin: 0;
}

body.centered {
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin: 40px 0;
	padding: 0 60px;
}

section.app {
	padding-left: 160px;
	align-items: start;
}

section.sign-in {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1100px;
}

h1 {
	font-weight: 800;
	font-style: normal;
	font-size: 60px;
	text-transform: capitalize;
	margin: 0;
}

h2 {
	font-weight: 800;
	font-style: normal;
	font-size: 36px;
	text-transform: capitalize;
	margin: 0;
}

h3 {
	font-weight: 800;
	font-style: normal;
	font-size: 24px;
	margin: 0;
}

b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	text-transform: capitalize;
	align-self: start;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

.dashboard-grid {
	width: 100%;
	height: calc(100vh - 256px);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
}

.MuiSnackbar-root {
	margin-left: 100px;
}
